<form>
  <div class="row">
    <div class="form-group col">
      <label for="movieTitleInput">Nombre</label>
      <input type="text" class="form-control" id="movieTitleInput" placeholder="Título de la película">
    </div>
    <div class="form-group col">
      <label for="directorNameInput">Director</label>
      <input type="text" class="form-control" id="directorNameInput" placeholder="Nombre del director">
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="movieReleaseDateInput">Fecha de Estreno</label>
      <input type="text" class="form-control" id="movieReleaseDateInput" placeholder="Fecha de estreno en España">
    </div>
    <div class="form-group col">
      <label for="moviePriceInput">Precio</label>
      <input type="text" class="form-control" id="moviePriceInput" placeholder="PVP (En €)">
    </div>
  </div>
</form>
