<div class="row justify-content-center">
  <div class="col-md-12">

    <form [formGroup]="customerForm" (ngSubmit)="create()">
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Crear socio</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group col">
              <label for="customerTitleInput">Nombre</label>
              <input type="text" class="form-control" id="customerTitleInput" placeholder="Nombre del socio"
                formControlName="name">
            </div>
            <div class="form-group col">
              <label for="customerAgeInput">Edad</label>
              <input type="number" class="form-control" id="customerAgeInput" placeholder="Edad del socio"
                formControlName="age">
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-success">Create</button>
        </div>
      </div>
    </form>
  </div>
</div>