<div class="row">
  <div class="col-4">
    <label for="customerSelector">Cliente</label>
    <select id="customerSelector" class="form-control" (change)="selectCustomer($event)">
      <option value=""></option>
      <option value="{{ customer.id }}" *ngFor="let customer of (customersService.customers$ | async)">{{ customer.name }}</option>
    </select>
  </div>
  <div class="col-3">
    <button class="btn btn-primary" (click)="getCustomerStatistics()">Obtener</button>
  </div>
</div>
<div class="list-group list-group-flush">
  <li class="list-group-item list-group-item-action" *ngFor="let statistic of (statisticsService.statistics$ | async)">
    <p>{{ getMonth(statistic.month) }}</p>
    <div class="list-group list-group-flush">
      <ng-container *ngIf="statistic.rents.length else noRents">
        <div class="row">
          <div class="col-2">
            <span>{{ statistic.amount }} €</span>
          </div>
          <div class="col-3">
            <span>{{ statistic.created_at }}</span>
          </div>
          <div class="col-7">
            <div class="list-group list-group-flush" *ngFor="let rent of statistic.rents">
              <p *ngFor="let film of rent.films">{{ film.name }}</p>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noRents>
        <span><i>No rents</i></span>
      </ng-template>
    </div>
  </li>
</div>
