<style>
  .titem {
    display: flex;
    align-items: center;
  }

  .trow {
    margin: 5px 0;
  }
</style>

<div class="row justify-content-center">
  <div class="col-md-12">
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0">Lista de alquileres</h3>
      </div>
      <div class="card-body">
        <div class="col-12 list-group list-group-flush">
          <div class="row" style="margin-bottom: 15px;">
            <div class="titem col-4 col-sm-2">films</div>
            <div class="titem col-4 col-sm-2">member</div>
            <div class="titem col-4 col-sm-2">pickup_date</div>
            <div class="titem col-4 col-sm-2">devolution_date</div>
            <div class="titem col-4 col-sm-2">amount</div>
            <div class="titem col-4 col-sm-2"></div>
          </div>

          <div class="row shadow p-3" *ngFor="let rent of (rentsService.rents$ | async)">
            <div class="titem col-4 col-sm-2"><a href="#" role="button" data-toggle="collapse"
                [attr.data-target]="'#collapsed-'+rent._id">Mostrar películas</a></div>
            <div class="titem col-4 col-sm-2">{{rent.member.name}}</div>
            <div class="titem col-4 col-sm-2">{{rent.pickup_date | date: 'dd/MM/yy'}}</div>
            <div class="titem col-4 col-sm-2">{{rent.devolution_date | date: 'dd/MM/yy'}}</div>
            <div class="titem col-4 col-sm-2">{{rent.amount}}</div>
            <button class="titem col-4 col-sm-2 btn btn-warning " data-toggle="modal" data-target="#modifyModal"
              (click)="selectRent(rent)">Modificar</button>
            <div id="collapsed-{{rent._id}}" class="collapse col-12 bg-light">
              <div class="row" style="margin: 15px -15px;">
                <div class="titem col-4 col-sm-2">Nombre</div>
                <div class="titem col-4 col-sm-2">Director</div>
                <div class="titem col-4 col-sm-2">Lanzamiento</div>
                <div class="titem col-4 col-sm-2">Precio</div>
                <div class="titem col-4 col-sm-2">Videoclub</div>
              </div>
              <div class="row" *ngFor="let film of rent.films">
                <div class="titem col-4 col-sm-2">{{film.name}}</div>
                <div class="titem col-4 col-sm-2">{{film.director}}</div>
                <div class="titem col-4 col-sm-2">{{film.released_at | date: 'dd/MM/yy'}}</div>
                <div class="titem col-4 col-sm-2">{{film.rent_price}}$</div>
                <div class="titem col-4 col-sm-2">{{film.videoclub.street}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="modifyModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modificar alquiler</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="modifyForm" (ngSubmit)="modifyRent()">
          <input type="date" min="{{selectedRent?.devolution_date | date: 'yyyy-MM-dd'}}" class="form-control"
            formControlName="devolution_date" placeholder="dd/mm/AAAA">
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" type="submit">Modificar</button>
      </div>
    </div>
  </div>
</div>